.aboutContainer {
    margin: 4rem 6rem;
    text-align: start;
}

.aboutContainer h1 {
    padding-bottom: 1rem;
    font-size: 2rem;
}

.aboutContainer p {
    padding-bottom: 2rem;
}

@media screen and (max-width: 850px) {
    .aboutContainer {
        margin: 4rem 2rem;
    }
}