.formContainer {
    margin: 4rem 6rem;
    color: #2a2a2a;
}
.formContainer h1 {
    font-size: 2rem;
}
.formContainer form {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.formContainer input {
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 2px solid #7f7d7d;
    font-size: 1rem;
}
.formContainer textarea {
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 2px solid #7f7d7d;
    font-size: 1rem;
}
.formContainer button {
    display: inline;
    background-color:#e6e6e6;
}

@media screen and (max-width:850px) {
    .formContainer {
        margin: 4rem 2rem;
    }
    .formContainer form {
        padding-top: 2rem;
        width: 90%;
    }
}
